.App {
  min-width: 360px;
}

.pagination>li {
  display: inherit;
}

.reply-list > .list-group-item {
  margin: -1px;
  padding: 0;
}

.category-btn {
  cursor: pointer;
  user-select: none;
}

.category-btn:focus, .category-btn:hover {
  background-color: rgba(228,224,226,0.33);
}

.category-btn:active {
  background-color: rgba(148,144,146,0.33);
}

.sort-btn, .post-title-btn, .delete-btn {
  cursor: pointer;
}

.sort-btn, .delete-btn {
  user-select: none;
}

.sort-btn:focus, .sort-btn:hover, .post-title-btn:focus, .post-title-btn:hover {
  color: #337ab7;
}

.sort-btn:active, .post-title-btn:active, .delete-btn:active {
  color: #23527c;
}

.post-title-btn:focus, .post-title-btn:hover {
  text-decoration: underline;
  background-color: transparent;
}